# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Streamlit temporary files
.streamlit/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log